body{ background-color: antiquewhite;
    }

h1{ text-align: center;
background-color:#f2d693;
margin: auto;
border-radius: 20px;}
h2{align-items: center  ;}

h3{text-align: center;
    background-color:#f2d693;
    margin: auto;
    border-radius: 20px;}
    
img{align-items:center;
    margin-left: 50px;
    margin-right: 40px;
    border-radius: 270px;
    border: #f2d693;
}